.editpost-outer-div {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editpost-inner-div {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    text-align: start;
    width: 60%;
    max-width: 90%;
    height: auto;
    min-height: 300px;

}

.editpost-form {
    width: 95%;
}

.editpost-posttitle-div,
.editpost-postcontent-div {
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#editPostTitle,
#editPostContent {
    border: 1px solid darkgray;
    transition: border-color 0.2s;
}


#editPostContent {
    width: 95%;
    height: 10rem;
    resize: none;
}

#editPostContent:focus,
#editPostTitle:focus {
    border-color: #7DA0CA;
    outline: none;
}


.editpost-inner-div button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5483B3;
    transition: background-color 0.2s;
}

.editpost-inner-div button:hover {
    background-color: #7DA0CA;
}

.editpost-form span{
    color: red;
    font-size: 0.8em;
    display: block;
}