.favorite-posts-div{
    background-color: aliceblue;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

.favoritespage-error-message-p{
    text-align: center;
    font-size: 1.5em;
}