.full-list {
  max-width: 1020px;
  margin: auto;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.list-title {
  margin-top: 0px;
  margin-bottom: 2rem;
  margin-left: 2px;
  text-align: start;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 769px) {
  .list-title {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) {
  .list-title {
    font-size: 1.5rem;
  }
}