.list-element {
  padding: 10px;
  background-color: #5483B3;
  border-bottom: 1px solid #C1E8FF;
  font-size: 1rem;
  border: 1px solid #7DA0CA;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  max-height: 100px;
}

.list-element h3 {
  position: relative;
  top: -20px;
  left: 5px;
  color: #021024;
}

.item-description {
  position: relative;
  left: 15px;
  top: -25px;

}

.list-element-link {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .list-element {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 769px) {
  .list-element {
    font-size: 1.1rem;
  }
}

.list-element:hover {
  background-color: #7DA0CA;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}