textarea {
    resize: none;
}


.newpostpage-form {
    max-width: 1020px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: aliceblue;
}

.newpostpage-form div {
    margin: 20px 0;
    margin-bottom: 0px;
}

.newpostpage-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.newpostpage-form input[type="text"],
.newpostpage-form textarea {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s ease;
}

.newpostpage-form input[type="text"]:focus,
.newpostpage-form textarea:focus {
    border-color: #007BFF;
    outline: none;
}

.newpostpage-form textarea {
    height: 150px;
}

.newpostpage-form button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5483B3;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newpostpage-form span{
    color: red;
    font-size: 0.8em;
    display: block;
    margin-bottom: 5px;
}



.newpostpage-form button:hover {
    background-color: #7DA0CA;
}