.search-bar {
    border-radius: 8px;
    border: 1.5px solid darkgrey;
    height: 1.6rem;
    width: 12rem;
    transition: border-color 0.2s;
}

.search-bar:focus {
    outline: none;
    border-color: #7DA0CA;
}

.search-button {
    border: none;
    position: relative;
    top: 0.2rem;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.1s;
}

.search-button:hover {
    transform: scale(1.1);
}


.search-container {
    position: relative;
    display: inline-block;
}

.search-bar-results-div {
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    z-index: 500;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar-results-div ul {
    list-style: none;
    margin-left: -39px;
    width: fit-content;
    margin-bottom: 0px;
    margin-top: 0px;

}

.search-rersults-li {
    cursor: pointer;
}

.search-bar-results-div li:last-child {
    border-bottom: 1px solid darkgray;
    transition: all 0.2s;
}


.search-bar-results-div li:hover {
    background-color: rgb(224, 231, 238)
}

.search-post-title {
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 5px;
}

.search-post-content {
    margin-top: -10px;
    padding-left: 5px;
}

.searchpage-div {
    max-width: 1020px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    border-radius: 4px;
    padding: 8px 10px 8px 10px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


a {
    text-decoration: none;
}