.search-bar{
    border-radius: 8px;
    border: 1px solid darkgrey;
    height: 1.6rem;
    width: 12rem;
}

.search-button{
    border: none;
    position: relative;
    top: 0.2rem;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.1s;
}

.search-button:hover{
    transform: scale(1.1);
}

.search-icon{
    max-width: 25px;
}

/* ... your existing styles ... */

/* Container Styles */
.search-container {
    position: relative; /* Makes sure our absolute-positioned dropdown relates to this container */
    display: inline-block; /* Only take up as much space as it needs */
}

.search-bar-results-div {
    position: absolute;
    top: 2rem; /* pushes the div right below the search bar */
    left: 0;
    width: 100%; /* make it the full width of the parent container (.search-container) */
    max-height: 300px;
    overflow-y: auto; /* make it scrollable */
    z-index: 500;
    background-color: aliceblue;
    
    border-radius: 5px; /* optional rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* optional shadow */
}

.search-bar-results-div ul{
    list-style: none;
    margin-left: -39px;
    width: fit-content;
    margin-bottom: 0px;
    margin-top: 0px;
    
}

/* List item styles */
.search-rersults-li {
    cursor: pointer; /* indicate clickable */
}

.search-bar-results-div li:last-child {
    border-bottom: 1px solid darkgray; /* remove border for the last item */
    transition: all 0.2s;
}


.search-bar-results-div li:hover {
    background-color: rgb(224, 231, 238) /* highlight item on hover */
}

.search-post-title{
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 5px;
}

.search-post-content{
    margin-top: -10px;
    padding-left: 5px;
}


a{
    text-decoration: none;
}





